.container {
    height: 100%;
    min-height: 100vh;
    background-color: #EDECED;
    color: #000;
}
.center {
    display: flex;
    justify-content: space-between;
}
.image {
    height: 100vh;
    width: 50%;
    position: relative;
}
.content {
    margin: 100px 100px 0 100px;
    max-width: 90%;
}
.content h1 {
    font-size: 8rem;
    font-weight: 600;
}
.content h4 {
    font-size: 2.4rem;
    max-width: 600px;
    font-weight: 400;
}
.content button {
    font-size: 2rem;
    padding: 16px 32px 16px 32px;
    font-weight: bold;
    background-color: #EB7F67;
    color: #fff;
    border-radius: 8px;
    border: none;
}
@media screen and (max-width: 900px) {
    .center {
        flex-direction: column;
    }
    .image {
        height: 50vh;
        width: 100%;
        position: relative;
    }
    .content {
        padding: 30px 0 30px 0;
        margin: auto;
    }
    .content button {
        margin-bottom: 64px;
    }
}
@media screen and (max-width: 510px) {
    .content h1 {
        font-size: 6rem;
    }
}
